<div class="thumbnail">
  {{#link-to 'question' question.id}}
  <div class="row">
    <div class="col-md-12">
      {{question.content}} <br> by {{question.author}}
    </div>
  </div>
  {{/link-to}}
</div>
