<div class="container">
  <header class= "jumbotron">
    <h1>Ask Me Anything</h1>
    <nav class="menu">
	    <ul>
      	  {{#link-to 'index'}}HOME{{/link-to}}
          <li><a href="https://www.facebook.com/">Facebook</a></li>
          <li><a href="https://www.linkedin.com/">LinkedIn</a></li>
      </ul>
    </nav>
  </header>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        {{outlet}}
      </div>
      <div class="col-md-2"></div>
    </div>
  <hr>
</div>
