<h1>Welcome to Q&A for Developers!</h1>

<p>Here in this forum, developers from various levels come together to solve tricky problems and offered better solution</p>

<ul>
  {{#each model as |question|}}
    <li>{{question.content by question.author}}</li>
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}
